<p>Olá, <strong>{{ targetName }}.</strong></p>

<p>Foi criado um novo evento, abaixo estão as informções:</p>

<p><strong>Evento: </strong>{{ title }}</p>
<p><strong>Local: </strong>{{ location }}</p>
<p><strong>Data: </strong>{{ dateEvent }}</p>
<p><strong>Horário: </strong>{{ timeEvent }}</p>

<p>Atenciosamente, <strong>{{ issuerName }}</strong></p>
